*{
  box-sizing: border-box;
}
.active-link {
  color: white; /* Change icon color */
  background-color: theme('colors.blue.500') !important;
  border-radius: 6px;
}

.active-link-icon{
  background-color:theme('colors.blue.200') !important;
}

 .ant-table-thead > tr > th {
  --neeto-ui-table-header-text-transform: capitalize;
  background-color: #bac8e0 !important;
  color: #333;
  border-right: none !important;
}
.custom-pagination {
  display: flex;
  justify-content: flex-start !important;
}
.active{
    background-color: theme('colors.blue.500') !important;
}
.active-quiz-link{
  font-weight: bold;
  color: black !important;
}
.custom-input {
  --neeto-ui-input-bg-color: transparent;
}

.custom-table .ant-table-thead > tr > th:not(:first-child) {
  border-left: none !important;
}

.custom-table .ant-table-cell-fix-left-last::after,
.custom-table .ant-table-cell-fix-right-first::after,
.custom-table .ant-table-thead > tr > th:not(:first-child)::before {
  display: none !important;
  width: 0 !important;
  border-left: none !important;
  background: none !important;
}

.dropdown-filter-container {
  height: 3.75rem; /* h-15 */
  margin-left: 0.5rem; /* ml-2 */
  padding: 0.5rem; /* p-2 */
  cursor: pointer;
}

.react-select__menu {
  position: relative !important;
  z-index: 10 !important;
  cursor: pointer;

}

.react-select__menu-list {
  max-height: 200px !important;
    cursor: pointer;

}

.input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.input-container:focus-within {
  border-color: #3b82f6; /* Tailwind blue-500 */
}

.custom-input-settings {
  width: 45vw;
  padding: 0.5rem;
  outline: none;
  border: none;
}

button > h1{
  color:black !important;
}
