*{
  box-sizing: border-box;
}
.active-link {
  color: white; /* Change icon color */
  background-color: theme('colors.blue.500') !important;
  border-radius: 6px;
}

.active-link-icon{
  background-color:theme('colors.blue.200') !important;
}

 .ant-table-thead > tr > th {
  --neeto-ui-table-header-text-transform: capitalize;
  background-color: #bac8e0 !important;
  color: #333;
  border-right: none !important;
}
.custom-pagination {
  display: flex;
  justify-content: flex-start !important;
}
.active{
    background-color: theme('colors.blue.500') !important;
}
.active-quiz-link{
  font-weight: bold;
  color: black !important;
}
.custom-input {
  --neeto-ui-input-bg-color: transparent;
  --neeto-ui-input-font-size:1.5rem;
}

.custom-table .ant-table-thead > tr > th:not(:first-child) {
  border-left: none !important;
}

.custom-table .ant-table-cell-fix-left-last::after,
.custom-table .ant-table-cell-fix-right-first::after,
.custom-table .ant-table-thead > tr > th:not(:first-child)::before {
  display: none !important;
  width: 0 !important;
  border-left: none !important;
  background: none !important;
}
